/* genrals */
.hr {
    border: 1px solid var(--border);
}

.text-underline {
    text-decoration: underline;
}

.text-size {
    font-size: 14px;
}

.input {
    background-color: var(--main);
    border: none;
    border-radius: 6px;
    color: var(--text);
    transition: 0.3s;
    width: 298px !important;
    padding: 8px !important;
}

.input:focus {
    outline: none !important;
    box-shadow: 0 0 8px var(--hover);
    transition: 0.5s;
}

.border-radius {
    border-radius: 10px;
}

.border50 {
    border-radius: 50%;
}

.center {
    text-align: center !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}


.content-container {
    width: 100%;
    background-color: var(--simillar);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--border);
    max-width: 1450px;
    margin: 0 auto;
    overflow-x: auto;
}

.box-container {
    width: 70%;
    background-color: var(--simillar);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--border);
    max-width: 1450px;
    margin: 20px auto 40px auto;
    overflow-x: auto;
}

.box-container::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}

.box-container::-webkit-scrollbar-thumb {
    background-color: var(--border) !important;
}

.mini-container {
    width: 40%;
    background-color: var(--simillar);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--border);
    max-width: 1450px;
    margin: 20px auto 40px auto;
    overflow-x: auto;
}

.mini-container::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}

.mini-container::-webkit-scrollbar-thumb {
    background-color: var(--border) !important;
}

/* perscriptions section */
.alpha-container{
    width: 100%;
    background-color: transparent;
    max-width: 1450px;
    margin: 0 auto;
    gap: 15px;
}
.patient-container{
    width: 25%;
    background-color: var(--simillar);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--border);
    margin: 20px auto 40px auto;
}
.drug-container{
    width: 75%;
    background-color: var(--simillar);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--border);
    margin: 0 auto;
}

.search-content{
    width: 50%;
    background-color: var(--simillar);
    border-radius: 10px;
    border: 1px solid var(--border);
    max-width: 1450px;
    margin: 20px auto 40px auto;
    min-height: 90px !important;
}
.content-container::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}

.content-container::-webkit-scrollbar-thumb {
    background-color: var(--border) !important;
}

.cursor-p {
    cursor: pointer;
}

.cursor-not {
    cursor: not-allowed;
}

.hei-500 {
    min-height: 500px !important;
}

/* colors */
.color {
    color: var(--text) !important;
}

.text-white {
    color: white;
}

.color-red {
    color: red;
}

.color-green {
    color: rgb(3, 206, 3);
}

.color-blue {
    color: #239cff;
}

.color-yellow {
    color: yellow;
}

.color-orange {
    color: var(--hover) !important;
}

.bg-main {
    background-color: var(--main);
}

/* fonts */
.fs15 {
    font-size: 15px !important;
}

.fs14 {
    font-size: 14px;
}

.fs11 {
    font-size: 11px;
}

.fs12 {
    font-size: 12px;
}

.fs18 {
    font-size: 18px !important;
}

.fs22 {
    font-size: 22px;
}



/* margin */
.ml-10 {
    margin-left: 10px;
}

.ml-100 {
    margin-left: 100px;
}

.ml-20 {
    margin-left: 20px;
}

.m20 {
    margin: 20px;
}

.m10 {
    margin: 10px !important;
}

.mt20 {
    margin-top: 20px;
}

.m30 {
    margin: 25px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mb5 {
    margin-bottom: 5px;
}

.m-auto {
    margin: 0 auto;
}

.m0 {
    margin: 0 !important;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mt15 {
    margin-top: 15px;
}
.mt50{
    margin-top: 50px;
}
/* btn group */
.button-group {
    width: 100px;
    width: 100%;
}

/* widths */
.w100 {
    width: 100% !important;
}

.w17 {
    width: 17px;
}

.w14 {
    width: 14px !important;
}

.w20 {
    width: 20px !important;
}

.w50 {
    width: 50px !important;
}
.w30{
    width: 30px !important;
}
.w60{
    width: 60px !important;
}
.w80 {
    width: 80px !important;
}

.w200 {
    width: 200px;
}

.h50 {
    height: 50px !important;
}

.h250 {
    min-height: 250px !important;
    min-width: 99% !important;
    max-width: 99% !important;
}

/* padding */
.p20 {
    padding: 20px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p6 {
    padding: 6px;
}

.p20-5 {
    padding: 20px 5px !important;
}
.p5-20{
    padding: 5px 20px !important;
}
.p-att {
    padding: 2rem 0.4rem 2rem 0.4rem !important;
}
.p4p8{
    padding: 2px 12px;
}

/* imgages */
.br {
    border: 1px solid var(--bg);
    border-radius: 50%;
}

/* btns */
.btn {
    width: 88%;
    background-color: var(--bg) !important;
    cursor: pointer;
    color: var(--btn-text) !important;
    margin: 20px auto;
    transition: all .3s ease-in;
    border-radius: 3px !important;
    font-size: 13px;
    border: 1px solid var(--bg);
}

.cancel-btn {
    width: 88%;
    background-color: var(--orange) !important;
    cursor: pointer;
    color: var(--btn-text) !important;
    margin: 20px auto;
    transition: all .3s ease-in;
    border-radius: 3px !important;
    font-size: 13px;
    border: 1px solid var(--bg);
}

.btn:hover {
    background-color: var(--main) !important;
    color: var(--text) !important;
    border: 1px solid var(--orange);
}

.btn-close:hover {
    color: red;
}

.btn-filter {
    margin: 0 auto 10px auto !important;
    width: 120px !important;
}

.border-none {
    border: none;
}

.border-hover:hover {
    border: 1px solid var(--bg);
}

.btn-orange {
    margin: 0 auto !important;
    width: 88%;
    text-align: center;
    background-color: var(--orange);
    cursor: pointer;
    border: 1px solid var(--main);
    transition: 0.3s;
    border-radius: 3px !important;
    color: var(--color-fixed);
}

.btn-orange:hover {
    border: 1px solid var(--orange);
    background-color: var(--main);
    cursor: pointer;
    color: var(--text);
}

.bold {
    font-weight: bold;
}

/* background color */
.bg-orange {
    background-color: rgba(255, 166, 0, 0.295);
}

.bg-success {
    background-color: rgba(51, 132, 253, 0.267) !important;
}

.transparent {
    background-color: transparent !important;
}

.bg-red {
    background-color: rgba(255, 0, 0, 0.452) !important;
}
.bg-red-opacity {
    background-color: rgba(255, 0, 0, 0.158);
}

.bg-green-opacity {
    background-color: rgba(4, 255, 4, 0.267) !important;
}

/* display */
.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.justify-center {
    justify-content: center;
}

.flex-justify-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.text-right {
    text-align: right;
}

.d-none {
    display: none;
}

.justify-between {
    justify-content: space-between;
}

/* btn */
.btn-search{
    width: 100px !important;
}
.gap10{
    gap: 10px;
}

/* print styles */
@media print {
    @page {
        size: A5;
        margin: 10mm;
    }

    .content, .sidebar, .appbar {
        display: none !important;
    }

    body {
        margin: 0;
        padding: 10mm;
        box-sizing: border-box;
        background: none !important;
    }

    .p-student-form {
        height: 500px !important;
        display: block;
    }
}

.form-student {
    color: black;
    bottom: 30px;
    left: 30px;
    width: 794px;
    height: 900px;
    border: 1px solid var(--border);
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    position: relative;
}

.top-student-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.top-student-form-item {
    flex: 1;
    text-align: center;
}

.logo {
    flex: 0 0 auto;
    text-align: left;
}

.center-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.date {
    flex: 0 0 auto;
    text-align: right;
}

.form-data {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.form-data-item {
    display: flex;
    height: 30px;
    /* background-color: var(--btn-text); */
    border: 1px solid var(--border);
    justify-content: space-around;
    align-items: center;
    width: calc(50% - 10px);
    flex-wrap: wrap;
    text-align: center;
}

.form-data:nth-child(odd):last-child {
    justify-content: flex-start;
}