    *,
    *::before,
    *::after {
        box-sizing: border-box !important;
        border: none !important;
    }

    
    .item-print {
        background-color: white;
        width: 210mm;
        height: 297mm;
        margin: 0 auto;
        background-image: url('../img/img.jpg') !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }

/* patient-infos */
.p-patient-infos{
    margin-top: 200px;
    display: flex;
    gap: 30px;
    color: black;
}




    @page {
        margin: 0;
            size: 210mm 297mm;
    }

    @media print {
        body, html {
            margin: 0 !important;
            padding: 0 !important;
        }

        .item-print {
            width: 210mm;
            height: 297mm;
            margin: 0;
            background-color: white;
            page-break-after: avoid;
            page-break-before: avoid;
            page-break-inside: avoid;
        }
    }
