    *,
    *::before,
    *::after {
        box-sizing: border-box !important;
        border: none !important;
    }
.pre-color{
    color: rgb(19, 19, 19);
}
.pre-title{
    font-size: 43px;
}
.pre-p-title{
    right: 20px !important;
}
.pre-p-logo{
    left: -300px !important;
    top: 30px;
}

/* footer */
.pre-p-right-infos{
    right: 130px;
    bottom: -120px;
}
.pre-p-phones{
    right: 100px;
    bottom: -183px;
}
.pre-p-phones-2{
    right: 250px;
     bottom: -183px;
}

.w130{
    width: 130px !important;
}
    .d-flex {
        display: flex;
    }

    .justify-between {
        justify-content: space-between;
    }
    .pr8 {
        padding: 0 8px !important;
    }

    .hrp {
        width: 92% !important;
        border: 1px solid rgba(0, 0, 0, 0.336) !important;
        margin-left: 10px !important;
    }
.ol{
    list-style: decimal !important;
    direction: ltr !important;
}
    .item-print {
        background-color: white;
        width: 210mm;
        height: 297mm;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        background-image: url('../img/img.jpg') !important;
    }

    .center {
        text-align: center !important;
    }

    /* patient-infos */
    .p-patient-infos {
        margin-top: 200px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        color: black;
        margin-right: 2px;
        background-color: rgba(224, 224, 224, 0.301);
        width: 532px;
        padding: 5px;
        border-radius: 5px;
        margin-right: 7px;
    }

    .p-drugs-print {
        width: 70% !important;
        display: flex;
        flex-direction: column;
        height: 650px !important;
        justify-content: space-between;
    }

    .p-drugs-items {
        display: flex;
        justify-content: end;
        gap: 20px;
    }

    .p-color-item {
        background-color: rgba(173, 173, 173, 0.171);
    }

    .drug-name-en {
        direction: ltr;
        text-align: justify;
    }

    .fs14 {
        font-size: 14px;
    }

    .fs12 {
        font-size: 12px !important;
    }

    .w80 {
        width: 80px !important;
    }

    .p5 {
        padding: 5px !important;
    }

    .w120 {
        width: 120px !important;
    }
    .w150 {
        width: 150px !important;
    }

    .bold {
        font-weight: bold;
    }
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.t0{
    top: 0 !important;
}
.w100 {
    width: 100% !important;
}
    /* body */
    .body-pre-print {
        color: black;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-right: 7px;
    }

    .border-r {
        border-right: 1px solid rgba(0, 0, 0, 0.541) !important;
    }

    .p-left-infos {
        width: 30%;
        gap: 20px;
    }

    .p-doctor-infos {
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 12px;
        font-size: 18px;
        align-items: center;

    }

    .drug-name-en {
        direction: ltr;
        text-align: justify;
    }

    .dir-left {
        direction: ltr;
    }

    .p-vital-signs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: end;
        text-align: left;
        margin-left: 10px;
        margin-top:100px !important;
    }

    .p10 {
        padding: 10px;
    }
.p-recommended{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    text-align: left;
    margin-left: 30px;
    margin-top: 100px;
}
 @media print {
    body, html {
        margin: 0 !important;
        padding: 0 !important;
    }

    body * {
        visibility: hidden;
    }

    .item-print, 
    .item-print * {
        visibility: visible;
    }

    .item-print {
        position: absolute;
        left: 0;
        top: 0;
        width: 210mm;
        height: 297mm;
        margin: 0;
        background-color: white;
        direction: rtl !important;
        page-break-after: avoid;
        page-break-before: avoid;
        page-break-inside: avoid;
    }
}

@page {
    margin: 0;
    size: 210mm 297mm;
}
