    *,
    *::before,
    *::after {
        box-sizing: border-box !important;
        border: none !important;
    }

    
.item-print {
    background-color: white;
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    background-image: url('../img/img.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* patient-infos */
.p-patient-infos{
    margin-top: 200px;
    display: flex;
    gap: 30px;
    color: black;
    margin-right: 30px;
}
.p-drugs-print{
    width: 70%;
}
.p-drugs-items{
    display: flex;
    justify-content: end;
    gap: 20px;
}

/* body */
.body-pre-print{
    color: black;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.p-left-infos{
    width: 30%;
    gap: 20px;
}
.p-doctor-infos{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
    align-items: center;
    padding: 10px;

}
.p-vital-signs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    text-align: left;
    margin-left: 20px;
}

    @page {
        margin: 0;
            size: 210mm 297mm;
    }

    @media print {
        body, html {
            margin: 0 !important;
            padding: 0 !important;
        }

        .item-print {
            width: 210mm;
            height: 297mm;
            margin: 0;
            background-color: white;
            page-break-after: avoid;
            page-break-before: avoid;
            page-break-inside: avoid;
        }
    }
