    *,
    *::before,
    *::after {
        box-sizing: border-box !important;
        border: none !important;
    }

    .pppp {
        font-size: 50px !important;
        text-align: right;
        color: black;
        font-weight: bold !important;
    }

    .bg-whith {
        background-color: white;
        width: 210mm;
        height: 297mm;
        margin: 0 auto;
    }
